{# Extendes Menu #}
<style>
  .fa {
    color: #333;
  }

  .fa:hover {
    color: #04AA6D;
  }

  .fas {
    color: #333;
  }

  .fas:hover {
    color: #04AA6D;
  }
</style>
{% extends 'AdminTEMPLATES/ABase.html' %}
{# Extended Title #}
{% load static %}
{% block title %}List{% endblock title %}

{% load crispy_forms_tags %}

{# Extended Content #}
{% block stylesheet %}

{% endblock stylesheet %}
{% block content %}


<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>ID</td>
            <td>nom</td>
            <td>Discription</td>
            <td>Options</td>
          </tr>
        </thead>
        <tbody>

          {% for categorie in categories %}
          <tr>

            <td>{{categorie.id}}</td>
            <td>{{categorie.nom}}</td>
            <td>{{categorie.description}}</td>
            <td>
              <a href="{% url 'editCategorie' categorie.id %}" class="fas fa-edit "></a>
              <a href="{% url 'deleteCategorie' categorie.id %}" class="fa fa-trash ml-3"></a>
            </td>

          </tr>

          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button id="Add" class="btn btn-dark" onclick="Toggle()">Ajouter Categorie</button></td>

          </tr>
        </tbody>


      </table>



      <div class="card" id="form">
        <div class="card-body">
          <div class="table h5 ">
            <h3 id="title">Ajouter catégorie:</h3>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}

              <input type="submit" id="submit" class="btn btn-block btn-log" value="Ajouter">
            </form>
          </div>
        </div>
      </div>




    </div>

  </div>

</div>
<h2 id="demo"></h2>

<script>
  var form = document.getElementById("form");
  form.style.display = "none";
  function Toggle() {
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
  //edit form
  var url = window.location.href;
  if (url.includes("Edit")) {
    form.style.display = "block";
    document.getElementById("submit").value = "Modifier";

    document.getElementById("title").innerHTML = "Modifier catégorie:";
    document.getElementById("Add").style.display = "none"
  }
</script>


{% endblock content %}