<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <title> {% block title %} Products {% endblock title %} </title>
  <style>
    .card:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: .3s;
    }
  </style>
  {% block stylesheet %}{% endblock stylesheet %}
</head>

<body style="background-color:rgba(128,128,128,0.1)">

  <!-- NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:20px;font-size:15px">
    <a class="navbar-brand" href="/"><img src="../assets/logos/logo.png" alt="Logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'orders' %}">My orders</a>
        </li>
        {% endif %}
         
      </ul>

      <div class=" my-2 my-lg-0">
        <a href="{% url 'adminLogin' %}">Admin Panel</a>
        <a href="{% url 'cart' %}" style="text-decoration: none;" class="text-dark mx-2">
          Cart <i class="fa fa-shopping-cart" style="font-size: 15px"></i>
          <span class="badge badge-danger p-1"
            style="font-size: 10px; border-radius: 50%;">{{request.session.count_panier}}</span>
        </a>

        {% if request.user.is_authenticated %}
        {% comment %} <a href="{% url 'logout' %}" class="btn btn-link mr-sm-2 text-danger">Logout</a> {% endcomment %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link text-danger" data-toggle="modal" data-target="#exampleModal">
          Logout
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you really want to logout?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'logout' %}" class="btn btn-danger">Yes</a>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-dark mr-sm-2">Login</a>
        <a href="{% url 'register' %}" class=" mr-sm-2">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}

  {% endblock %}


  {% comment %} <footer class="bg-light text-center mt-5 fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3 shadow">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer> {% endcomment %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  {% block javascript %}{% endblock javascript %}
</body>

</html>